In [292]:
import pandas as pd
import numpy as np

In [293]:
df = pd.read_excel("Data_survey.xlsx")
pd.set_option('display.max_columns', None)

df.head()

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [294]:
#Dropping columns that aren't needed for the project

df = df.drop(columns= ["Email", "Date Taken (America/New_York)", "Time Taken (America/New_York)", "Browser", "OS", "City", "Country", "Referrer", "Time Spent"])

df.head()

,Unique ID,Q1 - Which Title Best Fits your Current Role?,Q2 - Did you switch careers into Data?,Q3 - Current Yearly Salary (in USD),Q4 - What Industry do you work in?,Q5 - Favorite Programming Language,Q6 - How Happy are you in your Current Position with the following? (Salary),Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance),Q6 - How Happy are you in your Current Position with the following? (Coworkers),Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [295]:
#Simplifying column names

df.rename(columns= {"Q1 - Which Title Best Fits your Current Role?": "Job title",
                    "Q2 - Did you switch careers into Data?": "Swapped carrers into data",
                    "Q3 - Current Yearly Salary (in USD)": "Yearly salary range",
                    "Q4 - What Industry do you work in?": "Industry",
                    "Q5 - Favorite Programming Language": "Favorite progamming language",
                    "Q6 - How Happy are you in your Current Position with the following? (Salary)": "Satisfaction with current salary",
                    "Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)": "Satisfaction with current work/life balance",
                    "Q6 - How Happy are you in your Current Position with the following? (Coworkers)": "Satisfaction with current coworkers",
                    "Q6 - How Happy are you in your Current Position with the following? (Management)": "Satisfaction with current managment",
                    "Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)": "Satisfaction with potential for upward mobility",
                    "Q6 - How Happy are you in your Current Position with the following? (Learning New Things)": "Satisfaction with potential for learning new things",
                    "Q7 - How difficult was it for you to break into Data?": "Difficulty for breaking into data",
                    "Q8 - If you were to look for a new job today, what would be the most important thing to you?": "Most important factor when looking for a new job",
                    "Q9 - Male/Female?": "Gender",
                    "Q10 - Current Age": "Age",
                    "Q11 - Which Country do you live in?": "Country of residence",
                    "Q12 - Highest Level of Education": "Highest level of education",
                    "Q13 - Ethnicity": "Ethnicity"}, 
                    inplace = True)

df.head()

,Unique ID,Job title,Swapped carrers into data,Yearly salary range,Industry,Favorite progamming language,Satisfaction with current salary,Satisfaction with current work/life balance,Satisfaction with current coworkers,Satisfaction with current managment,Satisfaction with potential for upward mobility,Satisfaction with potential for learning new things,Difficulty for breaking into data,Most important factor when looking for a new job,Gender,Age,Country of residence,Highest level of education,Ethnicity
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American

In [296]:
#taking care of NULL/empty values

df.isna().sum()

Unique ID                                               0
Job title                                               0
Swapped carrers into data                               0
Yearly salary range                                     0
Industry                                                0
Favorite progamming language                            0
Satisfaction with current salary                        7
Satisfaction with current work/life balance            10
Satisfaction with current coworkers                    11
Satisfaction with current managment                    12
Satisfaction with potential for upward mobility        13
Satisfaction with potential for learning new things     5
Difficulty for breaking into data                       0
Most important factor when looking for a new job        0
Gender                                                  0
Age                                                     0
Country of residence                                    0
Highest level of education                             52
Ethnicity                                               0
dtype: int64

In [297]:
#For columns with numbers, NULL values will be replaced by 0

df["Satisfaction with current salary"] = df["Satisfaction with current salary"].fillna(0)
df["Satisfaction with current work/life balance"] = df["Satisfaction with current work/life balance"].fillna(0)
df["Satisfaction with current coworkers"] = df["Satisfaction with current coworkers"].fillna(0)
df["Satisfaction with current managment"] = df["Satisfaction with current managment"].fillna(0)
df["Satisfaction with potential for upward mobility"] = df["Satisfaction with potential for upward mobility"].fillna(0)
df["Satisfaction with potential for learning new things"] = df["Satisfaction with potential for learning new things"].fillna(0)

#df.isna().sum()

In [298]:
#For education, Null values will be replaced with "not discolsed"

#df["Highest level of education"].unique()

df["Highest level of education"] = df["Highest level of education"].fillna("Not disclosed")

df.isna().sum()

Unique ID                                              0
Job title                                              0
Swapped carrers into data                              0
Yearly salary range                                    0
Industry                                               0
Favorite progamming language                           0
Satisfaction with current salary                       0
Satisfaction with current work/life balance            0
Satisfaction with current coworkers                    0
Satisfaction with current managment                    0
Satisfaction with potential for upward mobility        0
Satisfaction with potential for learning new things    0
Difficulty for breaking into data                      0
Most important factor when looking for a new job       0
Gender                                                 0
Age                                                    0
Country of residence                                   0
Highest level of education                             0
Ethnicity                                              0
dtype: int64

In [1]:
#need to standarize columns with "other" as a response
#To keep things simple, I will be grouping all "other" responses into a single group

df["Job title"] = df["Job title"].str.replace(r"Other:.*", "Other", regex=True)
df["Industry"] = df["Industry"].str.replace(r"Other:.*", "Other", regex=True)
df["Favorite progamming language"] = df["Favorite progamming language"].str.replace(r"Other:.*", "Other", regex=True)
df["Most important factor when looking for a new job"] = df["Most important factor when looking for a new job"].str.replace(r"Other:.*", "Other", regex=True)
df["Country of residence"] = df["Country of residence"].str.replace(r"Other:.*", "Other", regex=True)

df

NameError: name 'df' is not defined

In [308]:
df["Job title"].unique()

array(['Data Analyst', 'Data Engineer', 'Other', 'Data Scientist',
       'Student/Looking/None', 'Data Architect', 'Database Developer',
       'Other (Please Specify)'], dtype=object)

In [300]:
df["Favorite progamming language"].unique()

array(['Python', 'R', 'Other', 'JavaScript', 'C/C++', 'Java'],
      dtype=object)

In [301]:
#Making an age range column 

age_bins = [0, 18, 25, 35, 45, 55, 65, 100]
age_labels = ["0-18", "19-25", "26-35", "36-45", "46-55", "56-65", "66+"]

df["Age range"] = pd.cut(df["Age"], bins=age_bins, labels=age_labels, right=True)

df.head()

,Unique ID,Job title,Swapped carrers into data,Yearly salary range,Industry,Favorite progamming language,Satisfaction with current salary,Satisfaction with current work/life balance,Satisfaction with current coworkers,Satisfaction with current managment,Satisfaction with potential for upward mobility,Satisfaction with potential for learning new things,Difficulty for breaking into data,Most important factor when looking for a new job,Gender,Age,Country of residence,Highest level of education,Ethnicity,Age range
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,Not disclosed,White or Caucasian,26-35
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,Not disclosed,Asian or Asian American,36-45
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other,Not disclosed,Black or African American,19-25
3,62a33c8624a26260273822f9,Other,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,Not disclosed,White or Caucasian,26-35
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,Not disclosed,Black or African American,36-45

In [302]:
#converting floats into integers for simpler visualization

df["Satisfaction with current salary"] = df["Satisfaction with current salary"].astype(int)
df["Satisfaction with current work/life balance"] = df["Satisfaction with current work/life balance"].astype(int)
df["Satisfaction with current coworkers"] = df["Satisfaction with current coworkers"].astype(int)
df["Satisfaction with current managment"] = df["Satisfaction with current managment"].astype(int)
df["Satisfaction with potential for upward mobility"] = df["Satisfaction with potential for upward mobility"].astype(int)
df["Satisfaction with potential for learning new things"] = df["Satisfaction with potential for learning new things"].astype(int)

df.head()

,Unique ID,Job title,Swapped carrers into data,Yearly salary range,Industry,Favorite progamming language,Satisfaction with current salary,Satisfaction with current work/life balance,Satisfaction with current coworkers,Satisfaction with current managment,Satisfaction with potential for upward mobility,Satisfaction with potential for learning new things,Difficulty for breaking into data,Most important factor when looking for a new job,Gender,Age,Country of residence,Highest level of education,Ethnicity,Age range
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9,9,7,5,5,7,Very Difficult,Remote Work,Male,26,United States,Not disclosed,White or Caucasian,26-35
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1,2,5,2,1,3,Very Difficult,Remote Work,Male,36,Canada,Not disclosed,Asian or Asian American,36-45
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other,Python,0,8,7,5,7,7,Easy,Good Work/Life Balance,Male,23,Other,Not disclosed,Black or African American,19-25
3,62a33c8624a26260273822f9,Other,Yes,150k-225k,Finance,R,10,6,7,10,7,10,Very Easy,Remote Work,Female,35,Canada,Not disclosed,White or Caucasian,26-35
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1,4,4,4,0,1,Difficult,Better Salary,Male,44,United States,Not disclosed,Black or African American,36-45

In [303]:
#Making an "Average salary" column to make calculations easier

df["Salary temp"] = df["Yearly salary range"].str.replace("[k+]", "", regex=True)

df[["Minimum salary", "Maximum salary"]] = df["Salary temp"].str.split("-", expand=True)

df["Minimum salary"] = df["Minimum salary"].astype(int)
df["Maximum salary"] = df["Maximum salary"].fillna(df["Minimum salary"]).astype(int)

df["Average salary"] = (df["Minimum salary"] + df["Maximum salary"]) / 2

df.drop(columns= ["Salary temp", "Minimum salary", "Maximum salary"], inplace=True)

df.head()

,Unique ID,Job title,Swapped carrers into data,Yearly salary range,Industry,Favorite progamming language,Satisfaction with current salary,Satisfaction with current work/life balance,Satisfaction with current coworkers,Satisfaction with current managment,Satisfaction with potential for upward mobility,Satisfaction with potential for learning new things,Difficulty for breaking into data,Most important factor when looking for a new job,Gender,Age,Country of residence,Highest level of education,Ethnicity,Age range,Average salary
0,62a33b3db4da29969c62df3d,Data Analyst,Yes,106k-125k,Healthcare,Python,9,9,7,5,5,7,Very Difficult,Remote Work,Male,26,United States,Not disclosed,White or Caucasian,26-35,115.5
1,62a33ba1bae91e4b8b82e35c,Data Analyst,No,41k-65k,Finance,R,1,2,5,2,1,3,Very Difficult,Remote Work,Male,36,Canada,Not disclosed,Asian or Asian American,36-45,53.0
2,62a33c2cbc6861bf3176bec1,Data Engineer,No,0-40k,Other,Python,0,8,7,5,7,7,Easy,Good Work/Life Balance,Male,23,Other,Not disclosed,Black or African American,19-25,20.0
3,62a33c8624a26260273822f9,Other,Yes,150k-225k,Finance,R,10,6,7,10,7,10,Very Easy,Remote Work,Female,35,Canada,Not disclosed,White or Caucasian,26-35,187.5
4,62a33c91f3072dd892621e03,Data Analyst,Yes,41k-65k,Healthcare,R,1,4,4,4,0,1,Difficult,Better Salary,Male,44,United States,Not disclosed,Black or African American,36-45,53.0

In [ ]:
#Converting to a CSV file

#df.to_csv("Data_survey_cleaned.csv", index= False)